.toolbar-tray-horizontal #contextual-help-heading {
  float: left;
}

#contextual-help-heading {
  font-size: 1rem;
  color: #000;
  padding: .8rem 1.33rem 1rem 1.33rem;
  line-height: 1;
  margin: 0
}

.contextual-help-button .item-list ul,
.contextual-help-button .item-list li {
  margin-left: 0;
}

.contextual-help-button .item-list li a {
  padding: 1rem 1.33rem;
}
